<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Management.Automation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <identity impersonate="false" />
  </system.web>
  <appSettings>

    <add key="BackupDevice" value="" />
    <add key="RootLocation" value="" />
    <add key="LogLocation" value="" />
    <add key="EmailServer" value="" />
    <add key="ADServer" value="LDAP://" />
    <add key="MySqlServer" value="server=;port=;uid=;pwd=" />
    <add key="SqlServerOneConnectionString" value="server=;Integrated Security=true;" />
    <add key="SqlServerTwoConnectionString" value="server=;Integrated Security=true;" />
    <add key="SqlServerOne" value="" />
    <add key="SqlServerTwo" value="" />
    <add key="SQLWitness" value="" />
  </appSettings>

</configuration>
